@font-face {
    font-family: 'HelveticaNowDisplay-BoldIt';
    src: url('HelveticaNowDisplay-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay-Bd';
    src: url('HelveticaNowDisplay-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay-It';
    src: url('HelveticaNowDisplay-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay-Md';
    src: url('HelveticaNowDisplay-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay-Lt';
    src: url('HelveticaNowDisplay-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

